/* Container untuk dropdown notification */
.notification-container {
    position: relative;
    display: inline-block;
  }
  .notification-background {
    background: #ecebeb; /* Background abu-abu */
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Membuat div berbentuk lingkaran */
    display: flex;
    align-items: center; /* Vertikal center */
    justify-content: center; /* Horizontal center */
    position: relative; /* Untuk memastikan posisi absolut dari elemen di dalamnya */
}
  /* Button untuk trigger dropdown */
  .notification-trigger {
    position: relative;
    cursor: pointer;
  }

  
  
  .notification-trigger .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
  }
  
  /* Dropdown menu untuk notification */
  .dropdown-notification {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    z-index: 1000;
  }
  
  .dropdown-notification.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  /* Header dari dropdown notification */
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .dropdown-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* List style untuk notification items */
  .dropdown-notification ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Style untuk setiap item notification */
  .notification-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .notification-item.unread {
    background-color: #f0f8ff;
  }
  
  .notification-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Info style untuk item */
  .notification-info {
    max-width: 200px;
  }

  .notification-icon{
    display: flex;
    align-items: center; /* Vertikal center */
    justify-content: center;
  }
  
  .notification-title {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  }
  
  .notification-details {
    margin: 5px 0 0;
    color: #888;
    font-size: 12px;
  }
  
  /* Time style untuk item */
  .notification-time {
    color: #888;
    font-size: 12px;
    white-space: nowrap;
  }
  