.card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3px;
    padding: 25px;
    /* text-align: center; */
    background-color: #fff;
  }
  
  .card-title {
    font-size: 18px;
    /* font-weight: bold; */
    color: #333;
    margin-bottom: 20px;
  }
  
  .card-number {
    font-size: 30px;
    font-weight: bold;
    color: #000000; /* Or any color you prefer */
  }
  