.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    max-width: 90%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .popup-header h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .user-contact {
    display: flex;
    align-items: center;
  }
  
  .user-contact a {
    color: #25D366;
    text-decoration: none;
  }
  
  .user-contact a:hover {
    color: #128C7E;
  }
  
  .project-details {
    margin-bottom: 5px;
  }
  
  .project-details .detail {
    display: flex;
  }
  
  .detail-title {
    font-weight: 500;
    color: #a1a0a0;
  }
  
  .detail-fill {
    padding-left: 10px;
  }
  
  .notes {
    width: 100%;
    min-height: 100px;
    border: none;
    resize: none;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #dedede;
    overflow: hidden;
    cursor: default;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }
  
  .notes:focus {
    outline: none;
  }
  
  .popup-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .reject-button, .accept-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reject-button {
    background: #e0e0e0;
  }
  
  .accept-button {
    background: #000;
    color: #fff;
  }
  