.body {
    display: flex;            /* Menggunakan Flexbox untuk tata letak */
    height: 100vh;            /* Tinggi halaman 100% dari viewport */
    max-width: 1440px;        /* Maksimum lebar sesuai dengan ukuran laptop */
    margin: 0 auto;           /* Centering untuk body */
}



.main {
    flex: 1;                /* Konten utama mengisi sisa ruang */
    display: flex;
    flex-direction: column; /* Tata letak kolom dalam konten utama */
}

.header {
    padding: 5px;
    display: flex;
  justify-content: flex-end;
  border-bottom: 0.3px solid #e3dddd;
}

.submain {
    background-color: #ffffff; /* Warna latar belakang submain */
    flex: 1;                   /* Mengisi sisa ruang di bawah header */
    padding: 20px;
    overflow-y: auto;          /* Scroll jika konten terlalu panjang */
}
